In [17]:
import pandas as pd

In [18]:
!ls -l

total 12228
-rw-rw-r-- 1 hpcap hpcap  114137 Jan 20 13:45  20Jan2023_Assignment_2.ipynb
-rw-rw-r-- 1 hpcap hpcap   18889 Jan 21 14:55  21Jan2023_Lab.ipynb
drwxrwxr-x 2 hpcap hpcap    4096 Jan 20 09:38  bin
drwxrwxr-x 3 hpcap hpcap    4096 Jan 20 09:32  etc
-rw-rw-r-- 1 hpcap hpcap 9140113 Oct 11  2019  fifa_2019.csv
-rw-rw-r-- 1 hpcap hpcap 2185236 Jan 21 14:26  fifa_2019.zip
drwxrwxr-x 2 hpcap hpcap    4096 Jan 20 09:28  include
drwxrwxr-x 3 hpcap hpcap    4096 Jan 20 10:44  input
drwxrwxr-x 3 hpcap hpcap    4096 Jan 20 09:28  lib
lrwxrwxrwx 1 hpcap hpcap       3 Jan 20 09:28  lib64 -> lib
-rw-rw-r-- 1 hpcap hpcap    3108 Jan 20 09:39  ml_requirements.txt
-rw-rw-r-- 1 hpcap hpcap      70 Jan 20 09:28  pyvenv.cfg
-rw-rw-r-- 1 hpcap hpcap   18059 Jan 20 11:50 'S01_ml_ environment_wip.ipynb'
-rw-rw-r-- 1 hpcap hpcap  999508 Jan 20 12:06 'S02a_ml_ introduction_wip.ipynb'
drwxrwxr-x 6 hpcap hpcap    4096 Jan 20 09:32  share

In [19]:
dataset = pd.read_csv("./fifa_2019.csv")

In [20]:
dataset.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [21]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                18207 non-null  int64
 1   ID                        18207 non-null  int64
 2   Name                      18207 non-null  object
 3   Age                       18207 non-null  int64
 4   Photo                     18207 non-null  object
 5   Nationality               18207 non-null  object
 6   Flag                      18207 non-null  object
 7   Overall                   18207 non-null  int64
 8   Potential                 18207 non-null  int64
 9   Club                      17966 non-null  object
 10  Club Logo                 18207 non-null  object
 11  Value                     18207 non-null  object
 12  Wage                      18207 non-null  object
 13  Special                   18207 non-null  int64
 14  Preferred Foot            18159 non-null  object
 15  International Reputation  18159 non-null  float64
 16  Weak Foot                 18159 non-null  float64
 17  Skill Moves               18159 non-null  float64
 18  Work Rate                 18159 non-null  object
 19  Body Type                 18159 non-null  object
 20  Real Face                 18159 non-null  object
 21  Position                  18147 non-null  object
 22  Jersey Number             18147 non-null  float64
 23  Joined                    16654 non-null  object
 24  Loaned From               1264 non-null   object
 25  Contract Valid Until      17918 non-null  object
 26  Height                    18159 non-null  object
 27  Weight                    18159 non-null  object
 28  LS                        16122 non-null  object
 29  ST                        16122 non-null  object
 30  RS                        16122 non-null  object
 31  LW                        16122 non-null  object
 32  LF                        16122 non-null  object
 33  CF                        16122 non-null  object
 34  RF                        16122 non-null  object
 35  RW                        16122 non-null  object
 36  LAM                       16122 non-null  object
 37  CAM                       16122 non-null  object
 38  RAM                       16122 non-null  object
 39  LM                        16122 non-null  object
 40  LCM                       16122 non-null  object
 41  CM                        16122 non-null  object
 42  RCM                       16122 non-null  object
 43  RM                        16122 non-null  object
 44  LWB                       16122 non-null  object
 45  LDM                       16122 non-null  object
 46  CDM                       16122 non-null  object
 47  RDM                       16122 non-null  object
 48  RWB                       16122 non-null  object
 49  LB                        16122 non-null  object
 50  LCB                       16122 non-null  object
 51  CB                        16122 non-null  object
 52  RCB                       16122 non-null  object
 53  RB                        16122 non-null  object
 54  Crossing                  18159 non-null  float64
 55  Finishing                 18159 non-null  float64
 56  HeadingAccuracy           18159 non-null  float64
 57  ShortPassing              18159 non-null  float64
 58  Volleys                   18159 non-null  float64
 59  Dribbling                 18159 non-null  float64
 60  Curve                     18159 non-null  float64
 61  FKAccuracy                18159 non-null  float64
 62  LongPassing               18159 non-null  float64
 63  BallControl               18159 non-null  float64
 64  Acceleration              18159 non-null  float64
 65  SprintSpeed               18159 non-null  float64
 66  Agility                   18159 non-null  float64
 67  Reactions                 18159 non-null  float64
 68  Balance                   18159 non-null  float64
 69  ShotPower                 18159 non-null  float64
 70  Jumping                   18159 non-null  float64
 71  Stamina                   18159 non-null  float64
 72  Strength                  18159 non-null  float64
 73  LongShots                 18159 non-null  float64
 74  Aggression                18159 non-null  float64
 75  Interceptions             18159 non-null  float64
 76  Positioning               18159 non-null  float64
 77  Vision                    18159 non-null  float64
 78  Penalties                 18159 non-null  float64
 79  Composure                 18159 non-null  float64
 80  Marking                   18159 non-null  float64
 81  StandingTackle            18159 non-null  float64
 82  SlidingTackle             18159 non-null  float64
 83  GKDiving                  18159 non-null  float64
 84  GKHandling                18159 non-null  float64
 85  GKKicking                 18159 non-null  float64
 86  GKPositioning             18159 non-null  float64
 87  GKReflexes                18159 non-null  float64
 88  Release Clause            16643 non-null  object
dtypes: float64(38), int64(6), object(45)
memory usage: 12.4+ MB

In [22]:
col = dataset.columns
col

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [34]:
df1 = dataset.drop(['Unnamed: 0', 'Photo', 'Special', 'Weak Foot', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing', 'Flag', 'Club Logo'], axis=1)

In [35]:
df1.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 48 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     18207 non-null  object
 8   Wage                      18207 non-null  object
 9   Preferred Foot            18159 non-null  object
 10  International Reputation  18159 non-null  float64
 11  Skill Moves               18159 non-null  float64
 12  Work Rate                 18159 non-null  object
 13  Body Type                 18159 non-null  object
 14  Finishing                 18159 non-null  float64
 15  HeadingAccuracy           18159 non-null  float64
 16  ShortPassing              18159 non-null  float64
 17  Volleys                   18159 non-null  float64
 18  Dribbling                 18159 non-null  float64
 19  Curve                     18159 non-null  float64
 20  FKAccuracy                18159 non-null  float64
 21  LongPassing               18159 non-null  float64
 22  BallControl               18159 non-null  float64
 23  Acceleration              18159 non-null  float64
 24  SprintSpeed               18159 non-null  float64
 25  Agility                   18159 non-null  float64
 26  Reactions                 18159 non-null  float64
 27  Balance                   18159 non-null  float64
 28  ShotPower                 18159 non-null  float64
 29  Jumping                   18159 non-null  float64
 30  Stamina                   18159 non-null  float64
 31  Strength                  18159 non-null  float64
 32  LongShots                 18159 non-null  float64
 33  Aggression                18159 non-null  float64
 34  Interceptions             18159 non-null  float64
 35  Positioning               18159 non-null  float64
 36  Vision                    18159 non-null  float64
 37  Penalties                 18159 non-null  float64
 38  Composure                 18159 non-null  float64
 39  Marking                   18159 non-null  float64
 40  StandingTackle            18159 non-null  float64
 41  SlidingTackle             18159 non-null  float64
 42  GKDiving                  18159 non-null  float64
 43  GKHandling                18159 non-null  float64
 44  GKKicking                 18159 non-null  float64
 45  GKPositioning             18159 non-null  float64
 46  GKReflexes                18159 non-null  float64
 47  Release Clause            16643 non-null  object
dtypes: float64(35), int64(4), object(9)
memory usage: 6.7+ MB

In [39]:
import seaborn as sns

In [40]:
sns.countplot(col)

ValueError: could not convert string to float: 'ID'

In [42]:
!ls -l input/input

total 13952
-rw-rw-r-- 1 hpcap hpcap 3974305 May 20  2020 adult.data
-rw-rw-r-- 1 hpcap hpcap  688092 May 20  2020 citibike.csv
-rw-rw-r-- 1 hpcap hpcap   59011 Feb  8  2016 concrete_data.csv
-rw-rw-r-- 1 hpcap hpcap  267084 Jan 25  2016 digits.csv
-rw-rw-r-- 1 hpcap hpcap   44417 Jan 30  2016 dt_sample.csv
-rw-rw-r-- 1 hpcap hpcap   41083 Jan 27  2016 housing_data.csv
-rw-rw-r-- 1 hpcap hpcap    2736 Jan 19 02:46 iris.csv
-rw-rw-r-- 1 hpcap hpcap   43884 Feb 12  2016 knn_3b_sample.csv
-rw-rw-r-- 1 hpcap hpcap    2158 Jan 23  2016 movie_rating.csv
-rw-rw-r-- 1 hpcap hpcap    5822 May 20  2020 ram_price.csv
drwxrwxr-x 3 hpcap hpcap    4096 Jan 20 10:44 santander
-rw-rw-r-- 1 hpcap hpcap   85155 Feb  1  2016 titanic.csv
-rw-rw-r-- 1 hpcap hpcap 9046883 Jan 29  2016 tweets.json

In [43]:
import os

In [52]:
for root, _, files in os.walk('input', topdown=True):
    for file in files:
        print(os.path.join(root, file))

input/movie_rating.csv
input/knn_3b_sample.csv
input/train.csv
input/adult.data
input/test.csv.zip
input/titanic.csv
input/tweets.json
input/iris.csv
input/sample_submission.csv.zip
input/digits.csv
input/concrete_data.csv
input/housing_data.csv
input/train.csv.zip
input/test.csv
input/ram_price.csv
input/dt_sample.csv
input/citibike.csv
input/sample_submission.csv

In [53]:
!ls -l input

total 137208
-rw-rw-r-- 1 hpcap hpcap  3974305 May 20  2020 adult.data
-rw-rw-r-- 1 hpcap hpcap   688092 May 20  2020 citibike.csv
-rw-rw-r-- 1 hpcap hpcap    59011 Feb  8  2016 concrete_data.csv
-rw-rw-r-- 1 hpcap hpcap   267084 Jan 25  2016 digits.csv
-rw-rw-r-- 1 hpcap hpcap    44417 Jan 30  2016 dt_sample.csv
-rw-rw-r-- 1 hpcap hpcap    41083 Jan 27  2016 housing_data.csv
-rw-rw-r-- 1 hpcap hpcap     2736 Jan 19 02:46 iris.csv
-rw-rw-r-- 1 hpcap hpcap    43884 Feb 12  2016 knn_3b_sample.csv
-rw-rw-r-- 1 hpcap hpcap     2158 Jan 23  2016 movie_rating.csv
-rw-rw-r-- 1 hpcap hpcap     5822 May 20  2020 ram_price.csv
-rw-r--r-- 1 hpcap hpcap   626900 Feb 24  2016 sample_submission.csv
-rw-rw-r-- 1 hpcap hpcap   179883 Apr 25  2016 sample_submission.csv.zip
-rw-r--r-- 1 hpcap hpcap 59054007 Feb 24  2016 test.csv
-rw-rw-r-- 1 hpcap hpcap  3471444 Apr 25  2016 test.csv.zip
-rw-rw-r-- 1 hpcap hpcap    85155 Feb  1  2016 titanic.csv
-rw-r--r-- 1 hpcap hpcap 59362806 Feb 24  2016 train.csv
-rw-rw-r-- 1 hpcap hpcap  3501565 Apr 25  2016 train.csv.zip
-rw-rw-r-- 1 hpcap hpcap  9046883 Jan 29  2016 tweets.json